$primary-color:#25D4D0;
$sub-color:#3FD3E0;
$primary-color-1:#26F1CB;
$primary-color-light:rgba($primary-color,0.04);
$white-color:#ffffff;
$black-color:#000000;
$success-color:#4cc94c;
$warning-color:#e6a23c;
$danger-color:#f56c6c;
$info-color:#909399;
$text-color:#828282;
$text-color-light:#473a3a;
$text-color-2: #666;
$text-color-3:#999;
$text-color-4:#717071;
$text-color-5: #505052; 
$border-color:#E5E5E5;
$border-color-light: #f7f7f7;
$black:#000;
$color-333:#333333;
$color-666:#666666;

$background-color: #F8FBFD;
$mainBg: #f7fafd;
$maintext-color: #2A2F38;
$labeltext-color: #7D8084;
$primary-green:#04ccc5;
$primary-red: #ff6a69;
$primary-red-light:#FFEBF1;

$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;
$border-radius-xl: 20px;

$container-width: 1200px;
$header-height: 68px;
$footer-height: 414px;

$name-space: 'dcm';
$state-prefix: 'is-';
$modifier-separator: '--';
$element-separator: '__';

$echart-color1: #62CBBA;
$echart-color2: #6395F7;
$echart-color3: #F47473;
$echart-color4: #F6C042;

$table-header-bg: #fff9f0
